@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {}

img.wp-smiley,
img.emoji {
  display: inline ! important;
  border: medium none ! important;
  box-shadow: none ! important;
  height: 1em ! important;
  width: 1em ! important;
  margin: 0px 0.07em ! important;
  vertical-align: -0.1em ! important;
  background: transparent none repeat scroll 0% 0% ! important;
  padding: 0px ! important;
}

@font-face {

  font-family: "Droid Arabic Naskh";

  font-style: normal;

  font-weight: 400;

  src: url('../fonts/droidnaskh-regular.eot') format("embedded-opentype");

}

@font-face {

  font-family: "Droid Arabic Naskh";

  font-style: normal;

  font-weight: 700;

  src: url('../fonts/droidnaskh-bold.eot') format("embedded-opentype");

}

@font-face {

  font-family: "AmiriWeb";

  font-style: normal;

  font-weight: 400;

  src: url('../fonts/amiri-regular.eot') format("eot");

}

@font-face {

  font-family: "Amiri QuranWeb";

  font-style: normal;

  font-weight: 400;

  src: url('../fonts/amiri-quran.eot') format("eot");

}

@font-face {

  font-family: "AmiriWeb";

  font-style: normal;

  font-weight: 700;

  src: url('../fonts/amiri-bold.eot') format("eot");

}

@font-face {

  font-family: "AmiriWeb";

  font-style: oblique;

  font-weight: 400;

  src: url('../fonts/amiri-slanted.eot') format("eot");

}

@font-face {

  font-family: "AmiriWeb";

  font-style: oblique;

  font-weight: 700;

  src: url('../fonts/amiri-boldslanted.eot') format("eot");

}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio:not([controls]) {
  display: none;
  height: 0px;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0px;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0px none;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

small {
  font-size: 80%;
}

img {
  border: 0px none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0px;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

input[type="search"] {
  box-sizing: content-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0px none;
  padding: 0px;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
}

*,
input[type="search"] {
  box-sizing: border-box;
}

.entry-content p {
  font-family: AmiriWeb;
}

.entry-content p strong {
  font-family: AmiriWeb;
}

.entry-content strong {
  font-family: AmiriWeb;
}

.author-box::before,
.clearfix::before,
.entry::before,
.entry-content::before,
.footer-widgets::before,
.nav-primary::before,
.nav-secondary::before,
.pagination::before,
.site-container::before,
.site-footer::before,
.site-header::before,
.site-inner::before,
.widget::before,
.widget-area::before,
.after-entry::before,
.comment-respond::before,
.wrap::before {
  content: " ";
  display: table;
}

.author-box::after,
.clearfix::after,
.entry::after,
.entry-content::after,
.footer-widgets::after,
.nav-primary::after,
.nav-secondary::after,
.pagination::after,
.site-container::after,
.site-footer::after,
.site-header::after,
.site-inner::after,
.widget::after,
.widget-area::after,
.after-entry::after,
.comment-respond::after,
.wrap::after {
  clear: both;
  content: " ";
  display: table;
}

body {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  color: rgb(51, 51, 51);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.625;
}

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus {
  transition: all 0.1s ease-in-out 0s;
}

*::-moz-selection {
  background: rgb(17, 17, 17) none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
}

a {
  color: rgb(1, 1, 1);
  text-decoration: underline;
}

a img {
  margin-bottom: 20px;
}

a:hover {
  color: rgb(17, 17, 17);
}

p {
  margin: 5px 0px 15px;
  padding: 0px;
}

strong {
  font-weight: 600;
}

ol,
ul {
  margin: 0px;
  padding: 0px;
}

blockquote,
blockquote::before {
  color: rgb(153, 153, 153);
}

blockquote::before {
  content: "“";
  display: block;
  font-size: 30px;
  height: 0px;
  left: -20px;
  position: relative;
  top: -10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(68, 68, 68);
  font-weight: 300;
  margin: 10px 0px 16px;
  padding: 0px;
  text-transform: uppercase;
  font-family: AmiriWeb;
}

h1 a {
  font-family: AmiriWeb;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}

.featured-content img,
.gallery img {
  margin-bottom: 0px;
  width: auto;
}

input,
select,
textarea {
  border: 1px solid rgb(204, 204, 204);
  box-shadow: 0px 0px 0px rgb(255, 255, 255);
  color: rgb(153, 153, 153);
  font-family: "Droid Serif", georgia, serif;
  font-size: 11px;
  font-style: italic;
  letter-spacing: 0.5px;
  padding: 10px;
  width: 100%;
  margin: 5px auto;
}

input:focus,
textarea:focus {
  outline: medium none;
}

*::-moz-placeholder {
  color: rgb(0, 0, 0);
}

.button,
.button-secondary,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: rgb(1, 1, 1) none repeat scroll 0% 0%;
  border: medium none;
  box-shadow: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.5px;
  padding: 5px 12px;
  text-transform: uppercase;
  width: auto;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: rgb(68, 68, 68) none repeat scroll 0% 0%;
}

.site-container {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  margin: 0px auto;
  max-width: 1140px;
  padding: 0px 30px;
}

.site-inner {
  clear: both;
  display: block;
  margin: 20px auto;
}

.wrap {
  display: block;
  margin: 0px auto;
}

.content {
  float: left;
  width: 680px;
}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left;
}

.sidebar-primary {
  float: right;
  width: 300px;
}

.five-sixths,
.four-sixths,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fourths,
.three-sixths,
.two-fourths,
.two-sixths,
.two-thirds {
  float: left;
  margin-left: 2.5641%;
}

.one-third,
.two-sixths {
  width: 31.6239%;
}

.first {
  clear: both;
  margin-left: 0px;
}

.avatar {
  float: left;
}

.search-form input {
  background: rgb(255, 255, 255) no-repeat scroll right center;
}

.search-form input[type="submit"] {
  border: 0px none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  padding: 0px;
  position: absolute;
  width: 1px;
}

img.centered,
.aligncenter {
  display: block;
  margin: 0px auto 22px;
}

img.alignnone {
  margin-bottom: 12px;
}

.alignleft {
  float: left;
  margin-right: 40px;
  text-align: left;
}

.alignright {
  float: right;
  margin-left: 40px;
  text-align: right;
}

.widget_calendar table {
  width: 100%;
}

.widget_calendar td {
  text-align: center;
}

.featured-content img,
.post-image,
.entry-image {
  display: block;
  width: 100%;
}

.entry-title {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.sidebar .entry-title {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

h1.entry-title,
.entry-title a,
.sidebar .widgettitle a {
  color: rgb(68, 68, 68);
  text-decoration: none;
}

.widgettitle {
  color: rgb(68, 68, 68);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0px 0px 10px;
  text-align: center;
  text-transform: uppercase;
}

.featured-content .entry {
  padding: 0px;
}

.user-profile .avatar-85 {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 85px;
  margin-right: 10px;
}

.user-profile {
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
}

.enews-widget {
  background: rgb(245, 245, 245) none repeat scroll 0% 0%;
  color: rgb(1, 1, 1);
  padding: 20px;
  text-align: center;
}

.enews-widget .widgettitle {
  color: rgb(1, 1, 1);
  font-size: 20px;
}

.enews-widget input {
  margin-bottom: 16px;
  padding: 7px;
}

.enews-widget input:focus {
  border: 1px solid rgb(204, 204, 204);
}

.enews-widget input[type="submit"] {
  background: rgb(1, 1, 1) none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  margin: 0px;
  width: 100%;
}

.enews-widget input[type="submit"]:hover {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  color: rgb(1, 1, 1);
}

.top-cta .enews-widget .widgettitle,
.top-cta .enews-widget p {
  display: inline;
  float: left;
  line-height: 28px;
  margin: 0px 10px 0px 0px;
  width: auto;
}

.top-cta .enews-widget .widgettitle {
  font-size: 20px;
}

.top-cta .enews-widget #subscribe {
  display: inline;
  float: right;
  width: 40%;
}

.top-cta .enews-widget input {
  border: 0px none;
  display: inline;
  float: left;
  margin: 0px;
  width: 70%;
}

.top-cta .enews-widget input[type="submit"] {
  display: inline;
  float: right;
  width: 28%;
}

.foodie-pro .easyrecipe div::before,
.foodie-pro .easyrecipe div::after {
  clear: none;
  display: inline;
}

.foodie-pro .easyrecipe .ERSIngredients ul li::before {
  content: "» ";
  padding-right: 7px;
}

.simple-social-icons ul li::before {
  content: none ! important;
  padding-right: 0px ! important;
}

.top-cta {
  background: rgb(245, 245, 245) none repeat scroll 0% 0%;
  clear: both;
  overflow: hidden;
  padding: 10px 0px;
  text-align: center;
}

.top-cta img,
.top-cta iframe {
  display: block;
  margin: 0px auto;
}

.top-cta .widget {
  margin: 0px auto;
  max-width: 1100px;
}

.foodie-pro .site-header {
  background-position: center center;
  padding: 20px 0px;
}

.title-area {
  padding: 16px 0px;
  width: 360px;
}

.title-area h1 {
  margin: 0px auto;
}

.header-image .title-area {
  padding: 0px;
}

.site-title,
.site-title a {
  font-size: 55px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.site-title a,
.site-title a:hover {
  color: rgb(68, 68, 68);
}

.site-description {
  color: rgb(153, 153, 153);
  font-family: "Droid Serif", georgia, serif;
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0px;
  text-align: center;
  text-transform: none;
}

.header-full-width .title-area,
.header-full-width .site-title {
  width: 100%;
}

.header-image .site-description,
.header-image .site-title a {
  display: block;
  text-indent: -9999px;
}

.header-image .site-header {
  background-position: center center ! important;
  /*background-size: 400px 170px ! important;*/
}

.header-image .site-title a {
  float: none;
  min-height: 90px;
  width: 100%;
}

.genesis-nav-menu {
  border-bottom: 1px solid rgb(119, 119, 119);
  border-top: 1px solid rgb(119, 119, 119);
  clear: both;
  font-size: 0.001px;
  letter-spacing: 2px;
  line-height: 1;
  padding: 0px;
  text-align: center;
  width: 100%;
}

.genesis-nav-menu .menu-item {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  text-align: left;
}

.genesis-nav-menu a {
  color: rgb(51, 51, 51);
  display: block;
  padding: 20px 25px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.genesis-nav-menu a:hover,
.genesis-nav-menu .current-menu-item>a,
.genesis-nav-menu .sub-menu .current-menu-item>a:hover {
  color: rgb(0, 0, 0);
}

.genesis-nav-menu .sub-menu {
  border-bottom: 5px solid rgb(119, 119, 119);
  left: -9999px;
  opacity: 0;
  position: absolute;
  transition: opacity 0.4s ease-in-out 0s;
  width: 200px;
  z-index: 2000;
}

.genesis-nav-menu .sub-menu a {
  background-color: rgb(255, 255, 255);
  letter-spacing: 1px;
  padding: 20px;
  position: relative;
  width: 200px;
}

.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .sub-menu a:hover,
.genesis-nav-menu .sub-menu .current-menu-item>a:hover {
  color: rgb(255, 255, 255);
  background: rgb(1, 1, 1) none repeat scroll 0% 0%;
}

.genesis-nav-menu .menu-item:hover>.sub-menu {
  left: auto;
  opacity: 1;
}

.menu-toggle,
.sub-menu-toggle {
  display: none;
  visibility: hidden;
}

.nav-primary {
  margin: 0px 0px 20px;
}

.nav-primary a:hover,
.nav-primary .current-menu-item>a {}

.nav-primary .sub-menu a:hover {}

.entry {
  margin-bottom: 0px;
  padding: 0px 0px 0px;
}

.entry-content a {
  color: rgb(1, 1, 1);
}

.entry-content a:hover {
  color: rgb(17, 17, 17);
}

.entry-content ol,
.entry-content p,
.entry-content ul,
.quote-caption,
.clear-line {
  margin-bottom: 30px;
}

.entry-meta,
.post-info,
.post-meta {
  color: rgb(153, 153, 153);
  font-family: "Droid Serif", georgia, serif;
  font-size: 11px;
  font-style: italic;
  margin: 0px;
}

.entry-meta a,
.post-info a,
.post-meta a {
  color: rgb(153, 153, 153);
  text-decoration: none;
}

.entry-meta a:hover {
  color: rgb(1, 1, 1);
}

.entry-header .entry-meta,
.post-info {
  margin-bottom: 20px;
  line-height: 1;
}

.entry-footer .entry-meta,
.post-meta {
  border-top: 1px solid rgb(204, 204, 204);
  padding-top: 20px;
}

.entry-comments-link::before {
  content: "—";
  margin: 0px 6px 0px 2px;
}

.entry-categories,
.entry-tags {
  display: block;
}

.pagination-next a,
.pagination-previous a {
  text-decoration: none;
}

.after-entry .widget {
  clear: none;
  float: left;
  width: 50%;
}

.comment-respond,
.entry-comments {
  font-size: 14px;
  letter-spacing: 0.5px;
  padding: 20px 0px 0px;
}

.comment-respond,
.entry-comments,
.ping-list {
  margin-bottom: 0px;
}

.entry-comments h3,
.comment-respond h3 {
  color: rgb(51, 51, 51);
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.entry-comments a,
.comment-respond a {}

.entry-comments .comment-author {
  margin: 0px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.comment-list li,
.ping-list li {
  list-style-type: none;
  margin-top: 22px;
  padding: 32px;
}

.comment-list li li {
  margin-right: -32px;
}

li.comment {
  border-top: 1px solid rgb(204, 204, 204);
}

.comment .avatar {
  margin: 0px 16px 22px 0px;
}

.form-allowed-tags {
  background: rgb(245, 245, 245) none repeat scroll 0% 0%;
  font-size: 12px;
  padding: 22px;
}

.comment-meta a {
  color: rgb(51, 51, 51);
}

.comment-reply a {
  background: rgb(245, 245, 245) none repeat scroll 0% 0%;
  color: rgb(51, 51, 51);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 2px 5px;
  text-transform: uppercase;
}

.comment-reply a:hover {
  background: rgb(204, 204, 204) none repeat scroll 0% 0%;
}

.sidebar p:last-child,
.sidebar ul {
  margin: 0px;
}

.sidebar li {
  color: rgb(153, 153, 153);
  list-style-type: none;
  margin-bottom: 6px;
  padding: 0px;
  word-wrap: break-word;
}

.sidebar ul li::before {
  content: "» ";
  padding-right: 7px;
}

.sidebar ul>li:last-child {
  margin-bottom: 0px;
}

.sidebar .widget {
  margin-bottom: 20px;
}

.sidebar .search-form {
  width: 100%;
}

.footer-widgets {
  background: rgb(245, 245, 245) none repeat scroll 0% 0%;
  color: rgb(51, 51, 51);
  display: block;
  clear: both;
  overflow: hidden;
  padding: 20px 40px 0px;
  text-align: center;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  float: left;
  margin-left: 2.5641%;
  width: 31.6239%;
}

.footer-widgets-1 {
  margin-left: 0px;
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}

.footer-widgets-4 {
  width: 100%;
}

.footer-widgets .widget {
  margin-bottom: 22px;
}

.footer-widgets .widgettitle {}

.footer-widgets li {
  list-style-type: none;
  margin-bottom: 6px;
  word-wrap: break-word;
}

.footer-widgets img {
  margin: 0px;
}

.footer-widgets .featured-content,
.footer-widgets .featuredpost {
  background: transparent none repeat scroll 0% 0%;
  max-width: 95%;
}

.footer-widgets .entry {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 5px;
}

.site-footer {
  color: rgb(153, 153, 153);
  font-size: 12px;
  letter-spacing: 1px;
  padding: 20px 0px;
  text-align: center;
  text-transform: uppercase;
}

.site-footer a {
  color: rgb(153, 153, 153);
  text-decoration: none;
}

.site-footer p {
  margin: 0px;
}

@media not all,
not all,
not all,
not all {

  .header-image .site-header {
    background-size: contain ! important;
  }
}

@media only screen and (max-width: 1139px) {

  .site-inner,
  .wrap {
    max-width: 960px;
    overflow: hidden;
  }

  .site-inner {
    margin: 20px auto;
  }

  .content,
  .site-header .widget-area {
    width: 620px;
  }

  .genesis-nav-menu a,
  .genesis-nav-menu>.first>a,
  .genesis-nav-menu>.last>a {
    padding: 16px;
  }

  .sidebar-primary {
    width: 300px;
  }
}

@media only screen and (max-width: 1023px) {

  .content,
  .content-sidebar-sidebar .content,
  .content-sidebar-sidebar .content-sidebar-wrap,
  .footer-widgets-1,
  .footer-widgets-2,
  .footer-widgets-3,
  .sidebar-content-sidebar .content,
  .sidebar-content-sidebar .content-sidebar-wrap,
  .sidebar-primary,
  .sidebar-secondary,
  .sidebar-sidebar-content .content,
  .sidebar-sidebar-content .content-sidebar-wrap,
  .site-header .widget-area,
  .site-inner,
  .title-area,
  .wrap {
    width: 100%;
  }

  .header-image .site-header .wrap {
    background-position: center top;
  }

  .site-container,
  .top-cta {
    padding-left: 5%;
    padding-right: 5%;
  }

  .archive-description,
  .author-box,
  .entry,
  .entry-comments,
  .entry-footer .entry-meta,
  .sidebar .widget,
  .site-header,
  .comment-respond {
    padding: 0px;
  }

  .genesis-nav-menu li,
  .site-header ul.genesis-nav-menu,
  .site-header .search-form {
    float: none;
  }

  .genesis-nav-menu,
  .site-description,
  .site-header .title-area,
  .site-header .search-form,
  .site-title {
    text-align: center;
  }

  .entry-footer .entry-meta {
    margin: 0px;
    padding-top: 12px;
  }

  .footer-widgets {
    padding: 20px 5% 16px;
  }

  .footer-widgets-1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 940px) {

  .menu-toggle,
  .sub-menu-toggle {
    display: block;
    visibility: visible;
  }

  .menu-toggle {
    background: transparent none repeat scroll 0% 0%;
    border-top: 1px solid rgb(119, 119, 119);
    border-bottom: 1px solid rgb(119, 119, 119);
    cursor: pointer;
    min-height: 52px;
    position: relative;
    width: 100%;
  }

  .menu-toggle span {
    left: 50%;
    margin-left: -20px;
    top: 23px;
  }

  .menu-toggle span,
  .menu-toggle span::before,
  .menu-toggle span::after {
    background: rgb(85, 85, 85) none repeat scroll 0% 0%;
    border-radius: 1px;
    content: "";
    cursor: pointer;
    display: block;
    height: 5px;
    position: absolute;
    transition: all 500ms ease-in-out 0s;
    width: 40px;
  }

  .menu-toggle span::before {
    top: -10px;
  }

  .menu-toggle span::after {
    bottom: -10px;
  }

  .menu-toggle.active span::before,
  .menu-toggle.active span::after {
    top: 0px;
  }

  .menu-toggle.active span::before {
    transform: rotate(45deg);
  }

  .menu-toggle.active span::after {
    transform: rotate(-45deg);
  }

  .menu-toggle:hover {
    background: transparent none repeat scroll 0% 0%;
  }

  .sub-menu-toggle {
    color: rgb(153, 153, 153);
    cursor: pointer;
    padding: 14px 18px;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .sub-menu-toggle::before {
    content: "+";
  }

  .sub-menu-toggle.active::before {
    content: "-";
  }

  nav {
    display: none;
    position: relative;
  }

  .genesis-nav-menu {
    border: medium none;
  }

  .genesis-nav-menu .menu-item {
    border-bottom: 1px solid rgb(157, 157, 157);
    display: block;
    position: relative;
    text-align: left;
  }

  .genesis-nav-menu .menu-item:hover {
    position: relative;
  }

  .genesis-nav-menu .sub-menu {
    border-top: 1px solid rgb(157, 157, 157);
    clear: both;
    display: none;
    opacity: 1;
    position: static;
    width: 100%;
  }

  .genesis-nav-menu .sub-menu .menu-item:last-child {
    border-bottom: medium none;
  }

  .genesis-nav-menu .sub-menu a {
    border: medium none;
    padding: 16px 22px;
    position: relative;
    width: auto;
  }

  .genesis-nav-menu .sub-menu a:hover {
    background: transparent none repeat scroll 0% 0%;
  }

  .top-cta .widget {
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .top-cta .enews-widget .widgettitle,
  .top-cta .enews-widget p,
  .top-cta .enews-widget #subscribe,
  .top-cta .enews-widget input,
  .top-cta .enews-widget input[type="submit"] {
    display: block;
    float: none;
    margin: 0px 0px 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds,
  .first {
    clear: none;
    margin-left: 2.5641%;
    width: 48.7179%;
  }

  .odd {
    clear: both;
    margin-left: 0px;
  }

  .alignright,
  .alignleft,
  img.alignright,
  img.alignleft,
  .wp-caption.alignright,
  .wp-caption.alignleft {
    float: none;
    margin: 0px auto 20px;
  }
}

@media only screen and (max-width: 420px) {

  .five-sixths,
  .four-sixths,
  .one-fourth,
  .one-half,
  .one-sixth,
  .one-third,
  .three-fourths,
  .three-sixths,
  .two-fourths,
  .two-sixths,
  .two-thirds,
  .odd {
    margin-left: 0px;
    width: 100%;
  }

  .after-entry .widget {
    width: 100%;
  }
}

body {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
}

input,
select,
textarea,
.wp-caption-text,
.site-description,
.entry-meta,
.post-info,
.post-meta {
  font-family: "Droid Serif", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.site-title,
.entry-title,
.widgettitle {
  font-family: "Source Sans Pro", "Helvetica Neue", sans-serif;
}

@font-face {

  font-family: "Droid Serif";

  font-style: normal;

  font-weight: 400;

  src: local("Droid Serif"), local("DroidSerif"), url('../fonts/0aksp294htd-nvjgucytai4p5icox8kq3llunmylgo4.woff2') format("woff2");

}

@font-face {

  font-family: "Droid Serif";

  font-style: normal;

  font-weight: 700;

  src: local("Droid Serif Bold"), local("DroidSerif-Bold"), url('../fonts/qqt14e8dy39u-eybzmppwylizu-hdpmdizmigmsroc4.woff2') format("woff2");

}

@font-face {

  font-family: "Droid Serif";

  font-style: italic;

  font-weight: 400;

  src: local("Droid Serif Italic"), local("DroidSerif-Italic"), url('../fonts/cj2hunsrbhwmspr9ks5898u2q0os-ketawjgks85mdg.woff2') format("woff2");

}

@font-face {

  font-family: "Source Sans Pro";

  font-style: normal;

  font-weight: 200;

  src: local("Source Sans Pro ExtraLight"), local("SourceSansPro-ExtraLight"), url('../fonts/toadocfmlt9b38dhjxobgcvh0v6fr69olaflklybisk.woff2') format("woff2");

}

@font-face {

  font-family: "Source Sans Pro";

  font-style: normal;

  font-weight: 300;

  src: local("Source Sans Pro Light"), local("SourceSansPro-Light"), url('../fonts/toadocfmlt9b38dhjxobgoode0-eumky--tsyexeing.woff2') format("woff2");

}

@font-face {

  font-family: "Source Sans Pro";

  font-style: normal;

  font-weight: 400;

  src: local("Source Sans Pro"), local("SourceSansPro-Regular"), url('../fonts/odeli1ahbydbqgeiah2zlnv_2ngz8dmf8flgjyeouxg.woff2') format("woff2");

}

@font-face {

  font-family: "Source Sans Pro";

  font-style: normal;

  font-weight: 700;

  src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"), url('../fonts/toadocfmlt9b38dhjxobgeo0as1bfrxtcdhs66znb_k.woff2') format("woff2");

}

@font-face {

  font-family: "Source Sans Pro";

  font-style: normal;

  font-weight: 900;

  src: local("Source Sans Pro Black"), local("SourceSansPro-Black"), url('../fonts/toadocfmlt9b38dhjxobghzhym0_6aejpze-oqa592o.woff2') format("woff2");

}

@font-face {

  font-family: "Source Sans Pro";

  font-style: italic;

  font-weight: 300;

  src: local("Source Sans Pro Light Italic"), local("SourceSansPro-LightIt"), url('../fonts/fptvhk8qsxbiethtrnqh6majkyiewwyrwzc50i8hk7i.woff2') format("woff2");

}

@font-face {

  font-family: "Source Sans Pro";

  font-style: italic;

  font-weight: 400;

  src: local("Source Sans Pro Italic"), local("SourceSansPro-It"), url('../fonts/m2jd71opjhlkp0zdttvomxgy2fsj5sj3ezlxpqvxrko.woff2') format("woff2");

}

@font-face {

  font-family: "fontello";

  font-style: normal;

  font-weight: normal;

  src: url('../fonts/fontello.eot') format("embedded-opentype"), url('../fonts/fontello.woff') format("woff"), url('../fonts/fontello.svg') format("svg");

}

.simple-social-icons {
  overflow: hidden;
}

.simple-social-icons ul {
  margin: 0px;
  padding: 0px;
}

.simple-social-icons ul li {
  background: transparent none repeat scroll 0% 0% ! important;
  border: medium none ! important;
  float: left;
  list-style-type: none ! important;
  margin: 0px 6px 12px ! important;
  padding: 0px ! important;
}

.simple-social-icons ul li a {
  border: medium none ! important;
  box-sizing: content-box;
  display: inline-block;
  font-family: "fontello";
  font-style: normal ! important;
  font-variant: normal ! important;
  font-weight: normal ! important;
  line-height: 1em;
  text-align: center;
  text-decoration: none ! important;
  text-transform: none ! important;
  width: 1em;
}

.simple-social-icons ul.aligncenter {
  text-align: center;
}

.simple-social-icons ul.aligncenter li {
  display: inline-block;
  float: none;
}

.addtoany_share_save_container {
  clear: both;
  margin: 16px 0px;
}

.addtoany_header {
  margin: 0px 0px 16px;
}

.addtoany_list {
  display: inline;
  line-height: 16px;
}

.addtoany_list a {
  border: 0px none;
  display: inline-block;
  font-size: 16px;
  padding: 0px 4px;
  vertical-align: middle;
}

.addtoany_list a img {
  border: 0px none;
  height: auto;
  opacity: 1;
  overflow: hidden;
  vertical-align: top;
  width: auto;
}

.addtoany_list a:hover img,
.addtoany_list a:hover span {
  opacity: 0.7;
}

.slides::after {
  clear: both;
  content: ".";
  display: block;
  height: 0px;
  line-height: 0;
  visibility: hidden;
}

.enews .screenread {
  height: 1px;
  left: -1000em;
  overflow: hidden;
  position: absolute;
  top: -1000em;
  width: 1px;
}

/* .site-header {
  background: transparent url('../img/artos-logo-2.png') no-repeat scroll 0% 0% ! important;
} */

.simple-social-icons ul li a,
.simple-social-icons ul li a:hover {
  background-color: rgb(255, 255, 255) ! important;
  border-radius: 36px;
  color: rgb(51, 51, 51) ! important;
  border: 0px solid rgb(255, 255, 255) ! important;
  font-size: 18px;
  padding: 9px;
}

.simple-social-icons ul li a:hover {
  background-color: rgb(255, 255, 255) ! important;
  border-color: rgb(255, 255, 255) ! important;
  color: rgb(102, 102, 102) ! important;
}

.a2a_menu,
.a2a_menu * {
  box-sizing: content-box;
  float: none;
  margin: 0px;
  padding: 0px;
  position: static;
  height: auto;
  width: auto;
}

.a2a_menu {
  border-radius: 6px;
  display: none;
  direction: ltr;
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  font: 16px/12px sans-serif-light, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(204, 204, 204);
  vertical-align: baseline;
  overflow: hidden;
}

.a2a_mini {
  min-width: 200px;
  position: absolute;
  width: 300px;
  z-index: 9999997;
}

.a2a_overlay {
  display: none;
  background: rgb(204, 204, 204) none repeat scroll 0% 0%;
  opacity: 0.7;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 9999998;
  animation: 0.14s ease-out 0s normal none 1 running a2aFadeInOverlay;
}

.a2a_full {
  background: rgb(255, 255, 255) none repeat scroll 0% 0%;
  height: calc(320px);
  top: 15%;
  left: 50%;
  margin-left: -320px;
  position: fixed;
  text-align: center;
  width: 640px;
  z-index: 9999999;
  animation: 0.14s ease-in 0s normal none 1 running a2aFadeIn;
}

.a2a_full_header,
.a2a_full_services,
.a2a_full_footer {
  border: 0px none;
  margin: 0px;
  padding: 12px;
  box-sizing: border-box;
}

.a2a_full_header {
  padding-bottom: 8px;
}

.a2a_full_services {
  height: 280px;
  overflow-y: scroll;
  padding: 0px 12px;
}

.a2a_full_services .a2a_i {
  display: inline-block;
  float: none;
  width: calc(33.334% - 18px);
}

div.a2a_full_footer {
  font-size: 12px;
  text-align: center;
  padding: 8px 14px;
}

div.a2a_full_footer a,
div.a2a_full_footer a:visited {
  display: inline;
  font-size: 12px;
  line-height: 14px;
  padding: 8px 14px;
}

div.a2a_full_footer a:hover {
  background: transparent none repeat scroll 0% 0%;
  border: 0px none;
  color: rgb(1, 102, 255);
}

div.a2a_full_footer a span.a2a_s_a2a,
div.a2a_full_footer a span.a2a_w_a2a {
  background-size: 14px auto;
  border-radius: 3px;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin: 0px 3px 0px 0px;
  vertical-align: top;
  width: 14px;
}

.a2a_menu a {
  color: rgb(1, 102, 255);
  text-decoration: none;
  font: 16px/14px sans-serif-light, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, "Liberation Sans", sans-serif;
  height: auto;
  width: auto;
  outline: medium none;
}

.a2a_menu a:visited {
  color: rgb(1, 102, 255);
}

.a2a_menu a:hover,
.a2a_menu a:active,
.a2a_menu a.a2a_i:focus {
  color: rgb(42, 42, 42);
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(238, 238, 238);
  text-decoration: none;
}

.a2a_menu span.a2a_s_find {
  background-size: 24px auto;
  height: 24px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 24px;
}

.a2a_menu span.a2a_s_find svg {
  background-color: rgb(255, 255, 255);
}

.a2a_menu span.a2a_s_find svg path {
  fill: rgb(204, 204, 204);
}

.a2a_menu_title_container {
  padding: 6px 8px;
}

.a2a_menu_find_container {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 6px;
  padding: 2px 24px 2px 0px;
  position: relative;
  text-align: left;
}

.a2a_cols_container .a2a_col1 {
  overflow-x: hidden;
  overflow-y: auto;
}

.a2a_menu input,
.a2a_menu input[type="text"] {
  display: block;
  background-image: none;
  box-shadow: none;
  line-height: 100%;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

.a2a_menu_title_container input.a2a_menu_title {
  background-color: rgb(255, 255, 255);
  border: 0px none;
  color: rgb(42, 42, 42);
  font: inherit;
  margin: 0px;
  padding: 0px;
  width: 99%;
}

.a2a_menu_find_container input.a2a_menu_find {
  background-color: transparent;
  border: 0px none;
  color: rgb(42, 42, 42);
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-feature-settings: inherit;
  font-language-override: inherit;
  font-kerning: inherit;
  font-synthesis: inherit;
  font-variant: inherit;
  font-size: 16px;
  height: 28px;
  line-height: 20px;
  left: 38px;
  outline: 0px none;
  padding: 2px 0px;
  position: relative;
  width: 99%;
}

.a2a_clear {
  clear: both;
}

.a2a_img,
.a2a_svg {
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
}

.a2a_svg {
  height: 32px;
  line-height: 32px;
  width: 32px;
}

a.a2a_i,
i.a2a_i {
  display: block;
  float: left;
  border: 1px solid rgb(255, 255, 255);
  line-height: 24px;
  padding: 6px 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 132px;
}

a.a2a_i span,
a.a2a_more span {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

a.a2a_i .a2a_img,
a.a2a_i .a2a_svg {
  margin: 0px 6px 0px 0px;
}

a.a2a_i .a2a_svg,
a.a2a_more .a2a_svg {
  background-size: 24px auto;
  height: 24px;
  line-height: 24px;
  width: 24px;
}

a.a2a_menu_show_more_less {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-left: 0px none;
  border-right: 0px none;
  line-height: 24px;
  margin: 6px 0px 0px;
  padding: 6px;
}

a.a2a_menu_show_more_less span {
  display: inline-block;
  height: 24px;
  margin: 0px 6px 0px 0px;
}

.a2a_default_style .a2a_count,
.a2a_default_style .a2a_svg,
.a2a_floating_style .a2a_svg,
.a2a_menu .a2a_svg {
  border-radius: 4px;
}

.a2a_kit a {
  cursor: pointer;
}

.a2a_count::before,
.a2a_count::after {
  border-style: solid;
  border-color: transparent;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-width: 4px 4px 4px 0px;
  content: "";
  height: 0px;
  left: 0px;
  line-height: 0;
  margin: -4px 0px 0px -4px;
  position: absolute;
  top: 50%;
  width: 0px;
}

.a2a_count::before {
  border-right-color: rgb(204, 204, 204);
}

.a2a_count::after {
  border-right-color: rgb(255, 255, 255);
  margin-left: -3px;
}

.a2a_wide a {
  display: block;
  margin-top: 3px;
  border-top: 1px solid rgb(238, 238, 238);
  text-align: center;
}

.firebugResetStyles {
  z-index: 2147483646 ! important;
  top: 0px ! important;
  left: 0px ! important;
  display: block ! important;
  border: 0px none ! important;
  margin: 0px ! important;
  padding: 0px ! important;
  outline: 0px none ! important;
  min-width: 0px ! important;
  max-width: none ! important;
  min-height: 0px ! important;
  max-height: none ! important;
  position: fixed ! important;
  transform: rotate(0deg) ! important;
  transform-origin: 50% 50% 0px ! important;
  border-radius: 0px ! important;
  box-shadow: none ! important;
  background: transparent none repeat scroll 0% 0% ! important;
  pointer-events: none ! important;
  white-space: normal ! important;
}

style.firebugResetStyles {
  display: none ! important;
}

.firebugResetStyles::before,
.firebugResetStyles::after {
  content: "" ! important;
}

footer {
  font-size: 12px;
  padding: 15px;
  text-align: center;
  color: black;
}

footer a {
  text-decoration: none;
  color: black;
}

input,
select {
  margin-bottom: 10px;
  font-size: 16.67px;
  font-weight: bold;
  color: grey;
  padding: 12px;
  width: 274px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product .left img {
  max-width: 100%;
}

@media (max-width:480px) {
  .product {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product .right {
    width: 100%;
    flex: 1 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width:1024px) {
  .site-header {
    background: none ! important;
  }
}